/* app css stylesheet */

html, body {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 20px;
    background: #FCFCFC url(../images/bg.png) repeat;
}

.animate.ng-enter, .animate.ng-leave {
    transition: 500ms ease-in all;
    position: relative;
    display: block;
}

.animate.ng-enter.ng-enter-active, .animate.ng-leave {
    left: 0;
}
.animate.ng-leave.ng-leave-active, .animate.ng-enter {
    left: 100px;
}