<div class="ui center">
    <div class="ui ignored info message">
        <i class="huge lightbulb icon"></i>
        Create a new TODO list with id {{newListId * 1 + 1}}:
    </div>
    <div class="ui form segment">
        <form>
            <p>
            <div class="ui small input">
                <input ng-model="title" placeholder="Title"/>
            </div>
            </p>
            <p>
            <div class="ui small input">
                <input ng-model="description" placeholder="Description"/>
            </div>
            </p>
            <p>
                <a class="ui small green button" ng-click="createTodoList()">Save</a>
            </p>
        </form>
    </div>
</div>