
<div class="ui inverted segment" ng-show="entryList.length != 0">
    <div class="ui inverted relaxed divided list">
        <div class="item" ng-repeat="entry in entryList">
            <div class="content">
                {{entry.description}}
            </div>
        </div>
    </div>
</div>
