<div>
    <div class="ui action input">
        <input type="text" ng-model="search" class="search-query" placeholder="Search...">
        <div class="ui icon button"><i class="search icon"></i></div>
    </div>

    <div class="ui three column grid">
        <div class="three wide column"/>
        <div class="ten wide column">
            <div class="ui">
                <a class="ui small green button" href="/#/create"> + Add New TODO List</a>

                <div class="ui message" ng-click="go('/entries/' + list.id)" ng-repeat="list in todoList | filter:search" style="cursor: pointer;">
                    <i class="close icon" ng-click="removeTodo(list)"></i>
                    <div class="header">
                        {{list.title}}
                    </div>
                    <p>{{list.description}}</p>
                </div>
            </div>
        </div>
        <div class="three wide column"/>
    </div>

    <div ng-show='list != null' class="ui compact blue message">{{list | json}}</div>
</div>