<div style="padding-left: 25%; padding-right: 25%">

    <div class="ui ignored info message">
        <i class="huge info icon"></i>
        Try user:user or admin:admin to login
    </div>

    <div class="ui fluid form segment">

        <div class="ui red message" ng-show="error">{{error}}</div>

        <h3 class="ui header">Log-in</h3>

        <div class="ui form segment">
            <div class="field">
                <label>Username</label>

                <div class="ui left labeled icon input">
                    <input ng-model="username" type="text" placeholder="Username">
                    <i class="user icon"></i>

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Password</label>

                <div class="ui left labeled icon input">
                    <input ng-model="password" type="password" placeholder="Password">
                    <i class="lock icon"></i>

                    <div class="ui corner label">
                        <i class="icon asterisk"></i>
                    </div>
                </div>
            </div>
            <div class="ui error message">
                <div class="header">We noticed some issues</div>
            </div>
            <div class="ui small blue submit button" ng-click="login()">Login</div>
        </div>
    </div>
</div>