<!doctype html>
<html ng-app="todoApp">
<head>
    <meta charset="utf-8">
    <title>Todo Web App</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" class="ui" href="libs/semantic-ui/build/packaged/css/semantic.min.css"/>
</head>
<body>
<div class="ui three column grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <div class="ui">
            <div class="ui menu" ng-show="hasRole('ROLE_ADMIN') || hasRole('ROLE_USER')">

                <a ng-repeat='tab in mainMenu' ng-click='selectTab($index)'
                   ng-class='{active: $index==selectedTab}' class="item" href='{{tab.url}}'>
                    <i class='{{tab.icon}} icon'></i> {{tab.name}}
                </a>

                <div class="right menu">
                    <div class="ui simple dropdown item">
                        <i class="icon settings"></i> {{user.name}} <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" ng-click="logout()"><i class="off icon"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-view/>
        </div>
    </div>
    <div class="two wide column"></div>
</div>

<script src="webjars/jquery/2.1.1/jquery.js"></script>
<script src="libs/semantic-ui/build/packaged/javascript/semantic.min.js"></script>
<script src="webjars/angularjs/1.2.17/angular.js"></script>
<script src="webjars/angularjs/1.2.17/angular-resource.js"></script>
<script src="webjars/angularjs/1.2.17/angular-route.js"></script>
<script src="webjars/angularjs/1.2.17/angular-cookies.js"></script>
<script src="webjars/angularjs/1.2.17/angular-animate.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>

</body>
</html>
